* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

button,
a,
.submit-search-text {
    cursor: pointer;
    color: inherit;
}

.underline-hover:hover {
    text-decoration: underline;
}

:root {
    --lighter-blue: #DEEBFF;
    --light-blue: #a0c4ff;
    --default-blue: #0065FC;

    --default-gray: #f2f2f2;
    --dark-gray: #d9d9d9;

    --black: #000;

    --smaller-gap: 0.5rem;
    --small-gap: 1rem;
    --default-gap: 2rem
}

/* Header Nav Bar */

body {
    display: grid;
    place-items: center;
}

.body-header {
    display: grid;
    width: 100%;
}

.logo {
    place-self: center;
    height: 4rem;
    padding: var(--smaller-gap) 0;
}

#nav-list {
    display: flex;
}

.nav-element {
    width: 100%;
    padding: var(--default-gap);
    text-align: center;
    font-weight: 500;
}

.nav-element:hover {
    color: var(--default-blue);
}

/* Main */

main {
    max-width: 90%;
}

/* Search Section */

h1 {
    font-size: 2rem;
    margin-top: var(--default-gap);

}

.main-header p {
    margin-top: var(--smaller-gap);
}

.search-form {
    margin-top: var(--small-gap);
    display: flex;
    max-width: 400px;
}

.search-form * {
    font-weight: 600;
    font-size: medium;

}

.location-dot-container {
    background: var(--default-gray);
    border-radius: 1rem 0 0 1rem;
    padding: var(--small-gap);
}

.search-form input[type="search"] {
    padding: var(--small-gap);
    border: none;
    border-top: solid 1px var(--default-gray);
    border-bottom: solid 1px var(--default-gray);
    width: 100%;
}

.submit-search {
    background-color: var(--default-blue);
    border: none;
    padding: 0 1.25rem;
    border-radius: 0 1rem 1rem 0;
    color: #fff;
}

.submit-search-text {
    display: none;
}

/* filter section */

.filters-container {
    display: flex;
    align-items: center;
    margin-top: var(--default-gap);
    flex-wrap: wrap;
}

.filter-button,
.filter-title {
    margin: 0 var(--small-gap) var(--small-gap) 0;
}

.filter-button {
    display: flex;
    background: #fff;
    margin-right: var(--small-gap);
    border: 2px solid var(--default-gray);
    border-radius: 2rem;
}

.filter-button-icon {
    display: grid;
    place-content: center;
    width: 3.25rem;
    height: 3.25rem;
    background-color: var(--lighter-blue);
    color: var(--default-blue);
    border-radius: 100%;
}

.button-hover-animation {
    animation: button-animation 0.75s;
}

@keyframes button-animation {
    10% {
        transform: translate(5px) rotate(0deg);
    }

    30% {
        transform: translate(5px) rotate(30deg);
    }

    50% {
        transform: translate(5px) rotate(-30deg);
    }

    70% {
        transform: translate(5px) rotate(15deg);
    }

    90% {
        transform: translate(5px) rotate(0deg);

    }
}

.filter-button-icon-active {
    order: 2;
}

.filter-button-active {
    background-color: var(--default-gray);
}

.filter-button-text {
    font-weight: 700;
    font-size: 1rem;
    padding: var(--small-gap);
}

/* Infos */

.info-icon {
    height: 2rem;
    width: 2rem;
    border: solid 2px var(--dark-gray);
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--small-gap);
    color: var(--default-blue);
}

/* Hostings Cards Section */

/* General Settings */

.hosting-section {
    display: flex;
    flex-direction: column-reverse;
}

.hosting-most-popular,
.hosting-results {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--default-gray);
    gap: var(--default-gap);
    margin-top: var(--default-gap);
    padding: var(--default-gap);
    border-radius: 1.5rem;
}

.popular-hosting-card,
.result-hosting-card,
.activity-card {
    transition: 0.25s;
}

.popular-hosting-card:hover,
.result-hosting-card:hover,
.activity-card:hover {
    transform: scale(105%);
    box-shadow: 0.5rem 0.5rem 1rem 0.25rem #0000002c;

}

.stars {
    margin-top: auto;
}

/* Star Colors */

.hostingMainCardGradeIcon[data-active="true"] {
    color: var(--default-blue);
}

.hostingMainCardGradeIcon[data-active="false"] {
    color: var(--dark-gray);
}

/* Popular Section Settings */

.most-popular-title {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line {
    color: var(--default-blue);
}

.popular-hosting-card {
    display: flex;
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem 0 #0000002c;
    height: 10rem;
}

.popular-img-container {
    position: relative;
    display: grid;
    place-content: center;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    height: 100%;
    width: 30%;
    overflow: hidden;
}

.popular-img-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.popular-card-detail {
    padding: var(--smaller-gap);
    display: flex;
    flex-direction: column;
    width: 70%;
}

/* Hosting Results */

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(285px, 100%), 1fr));
    gap: var(--default-gap);
}

.result-hosting-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem 0 #0000002c;
    height: 15rem;
}

.result-img-container {
    position: relative;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    height: 50%;
    overflow: hidden;
}

.result-img-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.result-card-detail {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: var(--smaller-gap);
}

.show-more-link {
    font-weight: bold;
    padding: var(--smaller-gap);
}

/* Activities Section */

.activities-section {
    margin-top: var(--default-gap);
}

.activities-grid {
    margin-top: var(--small-gap);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: var(--default-gap);
}

.activity-card {
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem 0 #0000002c;
    height: 12rem;
}

.activity-card-article {
    height: 100%;
}

.activity-img-container {
    position: relative;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    height: 70%;
    overflow: hidden;
}

.activity-img-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activity-card-article h3 {
    display: flex;
    align-items: center;
    padding: var(--smaller-gap);
    width: 100%;
    height: 30%;
}

/* Footer  */

footer {
    width: 100%;
    background: var(--default-gray);
    display: grid;
    place-items: center;
    margin-top: var(--default-gap);
}

.footer-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    padding: var(--default-gap) 0;
}

.footer-list h3 {
    padding: var(--smaller-gap);
}

.footer-links {
    margin: var(--smaller-gap) 0;

}

.footer-links a {
    padding: 0 var(--smaller-gap);
}


/* FOCUS */

*:focus-visible {
    outline: solid 3px var(--default-blue);
}

.submit-search:focus-visible {
    outline: none;
    border: solid 3px var(--black);
}

.search-form input[type="search"]:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--default-blue);
    border: solid 1px var(--default-blue);
}

.show-more-link:focus-visible,
.footer-links a:focus-visible {
    color: var(--default-blue);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {

    /* Header Nav Bar */
    .nav-element {
        border-bottom: 3px solid var(--default-gray);
    }

    .nav-element:hover {
        border-bottom: 3px solid var(--default-blue);
    }

    /* Filter Section */
    .filter-title {
        width: 100%;
    }

}

@media only screen and (min-width: 768px) {


    /* Header Nav Bar */

    .body-header {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
    }

    .nav-element {
        position: relative;
        height: 100%;
        display: grid;
        place-items: center;
        padding: var(--default-gap);
    }

    .nav-element:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--default-blue);
    }


    /* Search Section */

    main {
        width: 100%;
    }

    .submit-search-icon {
        display: none;
    }

    .submit-search-text {
        display: inline;
    }
}

@media only screen and (min-width: 1440px) {

    /* Hosting Results Section */
    .hosting-section {
        flex-direction: row;
    }

    .hosting-results {
        width: 70%;
    }

    .results-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hosting-most-popular {
        width: 30%;
        margin-left: var(--default-gap);
    }

    /* Activities Section */

    .activities-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .activity-card {
        width: 100%;
        height: 500px;
    }

    .long-card-img-container {
        height: 90%;
    }

    .long-card h3 {
        height: 10%;
    }

    .medium-card-img-container {
        height: 80%;
    }

    .medium-card h3 {
        height: 20%;
    }

    .small-card-img-container {
        height: 75%;
    }

    .small-card h3 {
        height: 25%;
    }

    .activity-card:nth-child(2) {
        height: 55%;
    }

    .activity-card:nth-child(2),
    .activity-card:nth-child(3) {
        grid-column: 2;
        grid-row: 1;
    }

    .activity-card:nth-child(3) {
        place-self: end;
        height: 37.5%;
    }

    .activity-card:nth-child(5) {
        height: 55%;
        place-self: end;
    }

    .activity-card:nth-child(5),
    .activity-card:nth-child(6) {
        grid-column: 4;
        grid-row: 1;
    }

    .activity-card:nth-child(6) {
        height: 37.5%;
    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
    }
}