* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

:root {
    --default-blue: #0065FC;
    --light-blue: #a0c4ff;
    --lighter-blue: #DEEBFF;

    --dark-gray: #d9d9d9;
    --default-gray: #f2f2f2;
}

/* Header Nav Bar */

body {
    display: grid;
    place-items: center;
}

.body-header {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-areas:
        "logo subscribe-link"
        "nav-element nav-element";
}

.logo {
    place-self: center;
    grid-area: logo;
    height: 4rem;
    padding: 0.5rem 0;
}

#nav-list {
    display: flex;
    grid-area: nav-element;
}

.nav-element {
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-weight: 500;
}

.nav-element:hover {
    color: var(--default-blue);
}


#subscribe-link {
    text-align: center;
    padding: 1rem;
    grid-area: subscribe-link;
    color: var(--default-blue);
    font-weight: 700;
    transition: 1s ease;
    border-radius: 50px;
}

#subscribe-link:hover {
    box-shadow: inset 0 0 0 3px var(--default-blue), inset 0 0 0 6px var(--light-blue), inset 0 0 0 9px var(--lighter-blue);
}

/* Main */

main {
    max-width: 90%;
}

/* Search Section */

h1 {
    font-size: 2rem;
    margin-top: 2rem;

}

.main-header p {
    margin-top: 0.5rem;
}

.search-form {
    margin-top: 1rem;
    display: flex;
    max-width: 400px;
}

.search-form * {
    font-weight: 600;
    font-size: medium;

}

.location-dot-container {
    background: var(--default-gray);
    border-radius: 1rem 0 0 1rem;
    padding: 1rem 1.25rem;
}

.search-form input[type="search"] {
    padding: 1rem;
    border: none;
    border-top: solid 1px var(--default-gray);
    border-bottom: solid 1px var(--default-gray);
    width: 100%;
}

.search-form input[type="search"]:focus {
    outline: none;
}

.search-form button[type="submit"] {
    background-color: var(--default-blue);
    border: none;
    padding: 0 1.25rem;
    border-radius: 0 1rem 1rem 0;
    color: #fff;
}

.submit-search-text {
    display: none;
}

/* filter section */

.filters-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filter-button,
.filter-title {
    margin: 0 1rem 1rem 0;
}

.filter-button {
    display: flex;
    background: #fff;
    margin-right: 1rem;
    border: 2px solid var(--default-gray);
    border-radius: 2rem;
}

.filter-button-icon {
    display: grid;
    place-content: center;
    width: 3.25rem;
    height: 3.25rem;
    background-color: var(--lighter-blue);
    color: var(--default-blue);
    border-radius: 100%;
}

.button-hover-animation {
    animation: button-animation 0.75s;
}

@keyframes button-animation {
    10% {
        transform: translate(5px) rotate(0deg);
    }

    30% {
        transform: translate(5px) rotate(30deg);
    }

    50% {
        transform: translate(5px) rotate(-30deg);
    }

    70% {
        transform: translate(5px) rotate(15deg);
    }

    90% {
        transform: translate(5px) rotate(0deg);

    }
}

.filter-button-icon-active {
    order: 2;
}

.filter-button-active {
    background-color: var(--default-gray);
}

.filter-button-text {
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
}

/* Infos */

.info-icon {
    height: 2rem;
    width: 2rem;
    border: solid 2px var(--dark-gray);
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: var(--default-blue);
}

/* Hostings Cards Section */

/* General Settings */

.hosting {
    display: flex;
    flex-direction: column-reverse;
}

.hosting-most-popular, .hosting-results {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--default-gray);
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

/* Popular Section Settings */

.most-popular-title {
    display: flex;
    justify-content: space-between;
}

.popular-hosting-card {
    display: flex;
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    height: 12rem;
}

.popular-img-container {
    position: relative;
    display: grid;
    place-content: center;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    height: 100%;
    width: 30%;
    overflow: hidden;

}

.popular-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 150%;
    min-width: 100%;
}

.popular-card-detail {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.stars {
    margin-top: auto;
}

.hostingMainCardGradeIcon[data-active="true"] {
    color: var(--default-blue);
}

.hostingMainCardGradeIcon[data-active="false"] {
    color: var(--dark-gray);
}

/* Hosting Results */

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 2rem;
}

.result-hosting-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    height: 14rem;
}

.result-img-container {
    position: relative;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    height: 50%;
    overflow: hidden;
}

.result-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 250%;
    min-width: 100%;
}

.result-card-detail {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 0.5rem;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 619px) {

    /* Header Nav Bar */
    .nav-element {
        border-bottom: 3px solid var(--default-gray);
    }

    .nav-element:hover {
        border-bottom: 3px solid var(--default-blue);
    }

    /* Filter Section */
    .filter-title {
        width: 100%;
    }

}

@media only screen and (min-width: 619px) {


    /* Header Nav Bar */

    .body-header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . nav-element nav-element subscribe-link";
        max-width: 90%;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
    }

    .nav-element {
        position: relative;
        height: 100%;
        display: grid;
        place-items: center;
        padding: 2rem;
    }

    .nav-element:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--default-blue);
    }


    /* Search Section */

    main {
        width: 100%;
    }

    .submit-search-icon {
        display: none;
    }

    .submit-search-text {
        display: inline;
    }
}