/* Default Setting & General Font */
* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;
}

button,
a,
.submit-search-text {
    cursor: pointer;
    color: inherit;
}

:root {
    /* COLORS */
    --lighter-blue: #DEEBFF;
    --light-blue: #a0c4ff;
    --default-blue: #0065FC;

    --default-white: #fff;

    --default-gray: #f2f2f2;
    --dark-gray: #d9d9d9;

    --black: #000;

    /* GAP / MARGINS / PADDINGS */
    --smaller-gap: 0.5rem;
    --small-gap: 1rem;
    --default-gap: 2rem;

    /* Border-Radius */
    --default-radius: 1rem;
    --round-radius: 100%;

    /* font */
    --small-font: 14px;
    --default-font: 16px;
    --bigger-font: 18px;
    --title-font: 22px;
}

/* Font */
* {
    font-size: var(--default-font);
    font-weight: 400;
}

/* font-weight */

h1,
h2,
h3,
.show-more-link,
.filter-button-text,
#search-input {
    font-weight: 700;
}

/* font-size */

h1,
h2 {
    font-size: var(--title-font);
}

h3 {
    font-size: var(--default-font);
}

.hotel-p {
    font-size: var(--small-font);
}

.filter-title,
.show-more-link,
footer h3,
#search-input {
    font-size: var(--bigger-font);
}


/* Special Class */
.underline-hover:hover {
    text-decoration: underline;
}

/* Header Nav Bar */

body {
    display: grid;
    place-items: center;
    max-width: 1440px;
    margin: auto;
}

.body-header {
    display: grid;
    width: 100%;
}

.logo {
    place-self: center;
    margin: 30px;
    width: 62px;
    height: 19px;
}

nav {
    display: flex;
}

.nav-element {
    width: 100%;
    padding: 0 var(--small-gap) 15px var(--small-gap);
    text-align: center;
    border-bottom: 3px solid var(--default-gray);
}

.nav-element:hover {
    color: var(--default-blue);
    border-bottom: 3px solid var(--default-blue);
}

/* Main & Section only under 768px */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-section,
.activities-section,
.hosting-section {
    width: 100%;
}

.activities-section,
.search-section {
    max-width: 95%;
}

/* Search Section */

h1 {
    margin-top: var(--default-gap);

}

.main-header p {
    margin-top: var(--smaller-gap);
}

.search-form {
    margin-top: var(--default-gap);
    display: flex;
    max-width: 400px;
    border: solid 1px var(--default-gray);
    border-radius: var(--default-radius);
}

.location-dot-container {
    background: var(--default-gray);
    padding: var(--small-gap);
    /* 2px less than parent (search-form) border radius otherwise there's a little blank space */
    border-radius: 14px 0 0 14px;
}

.search-form input[type="search"] {
    padding: var(--small-gap);
    border: none;
    width: 100%;
}

.submit-search {
    background-color: var(--default-blue);
    border: none;
    padding: 0 var(--small-gap);
    border-radius: var(--default-radius);
    box-shadow: 0rem 0rem 1rem 0.25rem var(--dark-gray);
    color: var(--default-white);
}

.submit-search-text {
    display: none;
}

/* filter section */

.filters-container {
    margin-top: var(--default-gap);
}

.filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--smaller-gap);
    row-gap: var(--small-gap);
}


.filter-title {
    margin-bottom: var(--small-gap);
}

.filter-button {
    display: flex;
    align-items: center;
    background: var(--default-white);
    height: 50px;
    border: 2px solid var(--default-gray);
    border-radius: 2rem;
    padding: 0 var(--small-gap);
    white-space: nowrap;
}

.filter-button-icon {
    color: var(--default-blue);
    margin-right: 10px;
}

.filter-button-text {
    font-size: 14px;
}

.filter-button:hover {
    background-color: var(--lighter-blue);
}

/* Infos */
.info-p {
    display: flex;
    align-items: center;
    margin-top: var(--default-gap);
}

.info-icon {
    margin-right: var(--smaller-gap);
}

/* Hostings Cards Section */

/* General Settings */

.hosting-section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: var(--default-gap);
}

.hosting-most-popular {
    background-color: var(--default-gray);
    padding: var(--default-gap);
    margin-top: var(--default-gap);
}

.popular-grid {
    display: grid;
    gap: var(--default-gap);
}

.hosting-results {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--default-gap);
    padding: var(--default-gap);
}

.popular-img-container,
.result-img-container {
    border: solid 0.25rem var(--default-white);
}

.popular-hosting-card,
.result-hosting-card,
.activity-card {
    transition: 0.25s;
}

.popular-hosting-card:hover,
.result-hosting-card:hover,
.activity-card:hover {
    transform: scale(1.05);
    box-shadow: 0.5rem 0.5rem 1rem 0.25rem #0000002c;
}

.stars {
    margin-top: auto;
}

/* Star Colors */

.fa-star[data-active="true"] {
    color: var(--default-blue);
}

.fa-star[data-active="false"] {
    color: var(--dark-gray);
}

/* Popular Section Settings */

.most-popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--small-gap);
}

.fa-chart-line {
    color: var(--default-blue);
}

.popular-hosting-card {
    display: flex;
    background-color: var(--default-white);
    border-radius: var(--default-radius);
    box-shadow: 0 0 1rem 0 #0000002c;
    height: 146px;
    min-width: 175px;
}

.popular-img-container {
    position: relative;
    display: grid;
    place-content: center;
    border-top-left-radius: var(--default-radius);
    border-bottom-left-radius: var(--default-radius);
    height: 100%;
    width: 30%;
    overflow: hidden;
}

.popular-img-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.popular-card-detail {
    padding: var(--smaller-gap);
    display: flex;
    flex-direction: column;
    width: 70%;
}

/* Hosting Results */

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(191px, 100%), 1fr));
    gap: var(--default-gap);
}

.result-hosting-card {
    display: flex;
    flex-direction: column;
    background-color: var(--default-white);
    border-radius: var(--default-radius);
    box-shadow: 0 0 1rem 0 #0000002c;
    height: 200px;
}

.result-img-container {
    position: relative;
    border-top-left-radius: var(--default-radius);
    border-top-right-radius: var(--default-radius);
    height: 50%;
    overflow: hidden;
}

.result-img-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.result-card-detail {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: var(--small-gap);
}

.show-more-link {
    width: fit-content;
}

/* Activities Section */

.activities-section {
    margin: var(--default-gap) 0 var(--default-gap) 0;
}

.activities-section h2 {
    margin-bottom: var(--default-gap);
}

.activities-grid {
    margin-top: var(--small-gap);
    display: grid;
    gap: var(--default-gap);
}

.activity-card {
    background-color: var(--default-white);
    border-radius: var(--default-radius);
    box-shadow: 0 0 1rem 0 #0000002c;
    height: 200px;
}

.activity-card-article {
    height: 100%;
}

.activity-img-container {
    position: relative;
    border-top-left-radius: var(--default-radius);
    border-top-right-radius: var(--default-radius);
    height: 70%;
    overflow: hidden;
}

.activity-img-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activity-card-article h3 {
    display: flex;
    align-items: center;
    padding: var(--smaller-gap);
    width: 100%;
    height: 30%;
}

/* Footer  */

footer {
    width: 100%;
    background: var(--default-gray);
    margin-top: var(--default-gap);
    padding: var(--default-gap);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    row-gap: 3rem;
}

.footer-list h3 {
    padding: var(--smaller-gap);
}

.footer-links {
    margin: var(--smaller-gap) 0;

}

.footer-links a {
    padding: 0 var(--smaller-gap);
}


/* FOCUS */

*:focus-visible {
    outline: solid 3px var(--default-blue);
}

.submit-search:focus-visible {
    outline: none;
    border: solid 3px var(--black);
}

.search-form input[type="search"]:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--default-blue);
    border: solid 1px var(--default-blue);
}

.show-more-link:focus-visible,
.footer-links a:focus-visible {
    color: var(--default-blue);
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

    /* Main */

    main {
        display: block;
        max-width: 90%;
    }

    .activities-section,
    .search-section {
        max-width: none;
    }

    .search-section,
    .activities-section,
    .hosting-section {
        width: auto;
    }

    /* filter section */
    /* changes the direction of the filters from a grid of 2 columns & 2 rows to a 1 row */
    .filters {
        display: flex;
    }

    /* hosting popular & results */
    .hosting-section {
        flex-direction: column;
    }

    .hosting-most-popular,
    .hosting-results {
        border-radius: var(--default-radius);
        background-color: var(--default-gray);
    }


    /* Header Nav Bar */

    .body-header {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
    }

    .nav-element {
        position: relative;
        height: 100%;
        display: grid;
        place-items: center;
        padding: var(--default-gap);
        padding-top: var(--small-gap);
    }

    .nav-element:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--default-blue);
    }

    .logo {
        margin-left: 0;
    }

    /* popular grid */
    .popular-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--small-gap);
    }

    /* Activities Grid */

    .activities-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .activity-card {
        max-height: 440px;
        height: auto;
        aspect-ratio: 2/3;
        width: 100%;
    }

    /* Search Section */

    main {
        width: 100%;
    }

    .submit-search-icon {
        display: none;
    }

    .submit-search-text {
        display: inline;
    }

    .submit-search {
        border-radius: 0 var(--default-radius) var(--default-radius) 0;
        box-shadow: none;
    }

    .nav-element {
        border: none;
    }

    .nav-element:hover {
        border: none
    }

    footer {
        width: 90%;
    }
}

@media only screen and (min-width: 1024px) {

    /* Filter in Main section */
    .filters-container {
        display: flex;
        align-items: center;
    }

    .filters {
        gap: 0;
    }

    .filter-title {
        margin: 0;
    }

    .filter-button {
        margin-left: 1rem;
    }


    /* Activity Section */

    .activity-card {
        height: auto;
        aspect-ratio: 1/2;
        width: 100%;
    }

    .activity-img-container {
        position: relative;
        border-top-left-radius: var(--default-radius);
        border-top-right-radius: var(--default-radius);
        height: 85%;
        overflow: hidden;
    }

    .activity-img-container img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .activity-card-article h3 {
        display: flex;
        align-items: center;
        padding: var(--smaller-gap);
        width: 100%;
        height: 15%;
    }

    /* Hosting Results Section */
    .hosting-section {
        flex-direction: row;
    }

    .hosting-results {
        width: 70%;
    }

    .results-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .popular-grid {
        grid-template-columns: none;
        gap: var(--small-gap);
    }

    .hosting-most-popular {
        margin-top: 0;
        width: 30%;
        margin-left: var(--default-gap);
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
    }

    .filter-title {
        width: auto;
    }
}